header {
    background-color: lightgrey;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid;
    border-color: orange;}

    footer {
        text-align: center;
        align-items: center;
        border-top: 2px solid;
        border-color: orange;
        font-size: small;
    }

    body { margin: left 15%;
        margin right: 35%;
       
    
    }

    p {
     margin-left: 15%;
     margin right: 35%;
    }

    

    h2 { font-size: x-large;
        margin-left: 15%;
        margin right: 35%;
        color:orange;
         }

    h3 { margin-left: 15%;
        margin right: 35%;
        
    }