header {
    background-color: lightgrey;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid;
    border-color: orange;}

    footer {
        text-align: center;
        align-items: center;
        border-top: 2px solid;
        border-color: orange;
        font-size: small;
    }

    body {
        text-align: center;
        align-items: center;
    
    }

    p {
        text-align: center;
    }